@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-radius-start {
        border-start-start-radius: var(--rounded-btn, 0.5rem) !important;
        border-end-start-radius: var(--rounded-btn, 0.5rem) !important;
        border-end-end-radius: 0 !important;
        border-start-end-radius: 0 !important;
    }
    .border-radius-end {
        border-start-start-radius: 0 !important;
        border-end-start-radius: 0 !important;
        border-end-end-radius: var(--rounded-btn, 0.5rem) !important;
        border-start-end-radius: var(--rounded-btn, 0.5rem) !important;
    }

    :lang(ar) {
        .dropdown-end {
            .dropdown-content {
                left: 0px !important;
                right: unset !important;
            }
        }

        .right-2 {
            right: unset;
            left: 0.5rem;
        }

        .right-0 {
            right: unset;
            left: 0;
        }

        .avatar-group {
            &.-space-x-6 {
                > :not([hidden]) ~ :not([hidden]) {
                    margin-right: calc(-1.5rem * calc(1 - var(--tw-space-x-reverse)));
                    margin-left: unset;
                }
            }
        }

        .table :where(th, td) {
            text-align: right;
        }

        .table :where(.table *:first-child) :where(*:first-child) :where(th, td):first-child {
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0;
        }

        :where(.table *:first-child) :where(*:first-child) :where(th, td):last-child {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0;
        }
    }
}

@layer utilities {
    :lang(ar) {
    }
}

// beautiful website for furniture, ui, ux, ui/ux, website --v 4 --stylize 500
